<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skills</title>
</head>
<body>
   <div> <a href="/">Home</a> | <a href="/skills">Skill List</a></div>
    <h1>Skill #<%= skillsNum %></h1>
    <h3><%= skill.skill %></h3>
    <h3>Complete: <%= skill.done ? 'Yes' : 'No' %></h3>
    <a href="/skills/<%= skillsNum - 1 %>/edit">Edit Skill</a>
</body>
</html>