<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>My Express Skills</h1>
    <a href="/skills"><h3>My Skills List</h3></a>
  </body>
</html>
